th{
    background: #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid black;
}
.Microorganisms{
    text-align: center;
}
caption{
    text-align:center;
    font-family:Gnuolane;
    font-size: 30px;
    color:black;
    margin-bottom: 20px;
}
#wrapper{
    background:url('https://www.photoshopgurus.com/forum/attachments/photoshop-newbies/46330d1402827697t-how-make-subtle-background-jpg');
    background-size: cover;
    /*width:100%;*/
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
}
/*===================================Trial===========================================*/

#page-wrap		    { width: 500px; margin: 0 auto; }

h1                  { margin: 25px 0; font: 14px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }

#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 0 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font: 44px Georgia, Serif;
}
.navbar{
    background-color:'';
}