th{
    background: #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid black;
}
.Microorganisms{
    text-align: center;
}
caption{
    text-align:center;
    font-family:Gnuolane;
    font-size: 30px;
    color:black;
    margin-bottom: 20px;
}
#wrapper{
    background:url('https://www.photoshopgurus.com/forum/attachments/photoshop-newbies/46330d1402827697t-how-make-subtle-background-jpg');
    background-size: cover;
    width:100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
