/*responsive*/
@media screen and (max-width: 600px) { 
.logos{
    top: -140px;
    left: -45px;
    }
.inputbutton{
    margin-top: 22vh;
    margin-left: -13vw;
}
.thumbnail{
    max-width:350px;
    height:auto;
}
}
.nav2{
    font-size: smaller;
}
#navcontam{
    font-size:15px;
}
/*body { */
/*    background: url(http://www.jotem.nl/img/background_03.jpg) ;*/
/*    background-repeat: no-repeat;*/
/*    background-size:cover;*/
/*    background-attachment: fixed;*/
/*}*/
.wrapper{
    background: url('http://www.jotem.nl/img/background_03.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height:95vh;
    width:100%;
}
.btnright{
    margin-left:80px;
}
.logos{
    position:relative;
    display:block;
    padding:20px;
    margin-left: -120px;
}
.fields{
    position: relative;
/*    top:40%;*/
/*    left: 40%;*/
/*    margin: auto;*/
/*}*/}
form{
    position:absolute;
    left: 45%;
    margin-top: 20vh;

}
#inputbox{
    width:300px; 
    height:40px;
    margin-left: -80px;
}
.box{
   border: 3px solid #3172A7;
   float:right;
   padding:15px;
   margin-top: -20px;
}
#violations{
    color:red;
}
.modal-body{
    font-size: 18px;
}
/*span.dropt {*/
/*    border-bottom: thin dotted; */
/*}*/
/*span.dropt:hover {*/
/*    text-decoration: none; */
/*    background: #ffffff; */
/*    z-index: 6; */
/*}*/
/*span.dropt span {*/
/*    position: absolute; */
/*    left: -9999px;*/
/*    margin: 20px 0 0 0px; */
/*    padding: 3px 3px 3px 3px;*/
/*    border-style:solid; */
/*    border-color:black; */
/*    border-width:1px; */
/*    z-index: 6;*/
    
/*}*/
/*span.dropt:hover span {*/
/*    left: 2%; */
/*    background: #ffffff;*/
/*} */
/*span.dropt span {*/
/*    position: absolute; */
/*    left: -9999px;*/
/*    margin: 4px 0 0 0px;*/
/*    padding: 3px 3px 3px 3px; */
/*    border-style:solid; */
/*    border-color:black; border-width:1px;*/
/*    border-radius:10px;*/
/*}*/
/*span.dropt:hover span {*/
/*    margin: 20px 0 0 170px; */
/*    background: #ffffff; */
/*    z-index:6;*/
/*} */
/*.thumbnail:hover {*/
/*    position:relative;*/
/*    top:-25px;*/
/*    left:-225px;*/
/*    width:700px!important;*/
/*    height:600px;*/
/*    display:block;*/
/*    z-index:999;*/
/*}*/
.thumbnail{
    margin-top: 100px;
}
.outerDiv {
    width: 200px;
    height: 200px;
    text-align:center;
    background: yellow;
    position:relative;
}
#modalinfo{
    font-weight: bold;
}
#quizinput{
    text-align: center;
}
.quizP{
    font-weight: bold;
}
#btnleft{
    margin-left: -75px
}